<span style="color: #696969">[Scene: The comic book store.]<br>[Prev: no one]<br></span>
Howard: What were they thinking, putting Doctor Octopus’s mind in Spider-Man’s body?

<span style="color: #696969">[Scene: The comic book store.]<br>[Prev: no one]<br></span>
Howard: Both versions: original and Lohan. You’re an idiot.

<span style="color: #696969">[Scene: The comic book store.]<br>[Prev: no one]<br></span>
Howard: I’m sorry, I’ve been kind of snippy lately. It’s probably this stupid diet I’m on.

<span style="color: #696969">[Scene: The comic book store.]<br>[Prev: no one]<br></span>
Howard: I’ve put on a couple pounds. Had to buy these pants in the men’s section.

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: Hey.

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: You’re kidding, right? I mean, you know I’m trying to lose weight. God, I thought we were partners in this marriage.

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: Really? Tell that to the bathroom scale, ’cause one of you is lying.

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: Awful. I had to rub her ointment all over her again.

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: ‘Cause we’ve got a deeply unhealthy relationship. Which reminds me, do you think you can get any samples of this from work? This was supposed to last her a month, but they didn’t take into account the square footage of her back.

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: I don’t know. Few weeks. Why?

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: Like these swollen sausages could fit in gloves.

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: You’re full of oestrogen and you don’t act like that.

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: Fine. I’ll wear gloves next time.

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: I feel so stupid. And fat.

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: Sex? Really? I mean, that’s just your solution to everything.

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: Thanks for coming over.

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: Yeah, that’s cucumber and cream cheese. That’s turkey and loganberry. And don’t tell my hips, but I’m warming up a brie in the oven.

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: Okay, well, I’ve been reading up on all the side effects you can get from oestrogen, and, I need you to be honest with me. Do my boobs look bigger to you?

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: Come on, Raj, it’s a yes or no question.

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: Seriously?

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: Fine.

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: Yeah, they kind of do.

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: Hey, easy, my nipples are sensitive.

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: Okay, let me feel. No, I am definitely up a cup size.

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: You think?

<span style="color: #696969">[Scene: Howard and Bernadette’s apartment.]<br>[Prev: no one]<br></span>
Howard: Thank you. I really needed to hear that today. (Bernadette rolls eyes and walks out) Ooh, brie’s ready.

<span style="color: #696969">[Scene: The cafeteria.]<br>[Prev: no one]<br></span>
Howard: That’s so great. If you guys prove the existence of Unruh radiation… Hey, hey, hey, hey. My eyes are up here.

<span style="color: #696969">[Scene: The cafeteria.]<br>[Prev: no one]<br></span>
Howard: Stop it.

<span style="color: #696969">[Scene: The cafeteria.]<br>[Prev: no one]<br></span>
Howard: I said, stop it. Now, listen to me. You two aren’t just friends. You’re best friends. And that’s a beautiful thing. I mean, Leonard, you know why he’s so mad at you? It’s ’cause he missed you. Yeah, and as his friend, you should be happy he has love in his life. As I do. This man held my breast the other day and I love him for it.

<span style="color: #696969">[Scene: The cafeteria.]<br>[Prev: no one]<br></span>
Howard: So, can we please put aside these petty differences and just be glad we’re here together?

<span style="color: #696969">[Scene: The cafeteria.]<br>[Prev: no one]<br></span>
Howard: Thank you.

